adal==1.2.7
alembic==1.8.1
aniso8601==9.0.1
anyio==3.6.1
apache-airflow==2.4.2
apache-airflow-providers-cncf-kubernetes==4.4.0
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.2.1
apispec==3.3.2
appnope==0.1.2
argcomplete==2.0.0
ariadne==0.16.1
arrow==1.2.1
astropy==5.1
astroquery==0.4.6
attrs==22.1.0
Automat==22.10.0
autopep8==2.0.0
azure==4.0.0
azure-applicationinsights==0.1.1
azure-batch==4.1.3
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.28
azure-core==1.25.1
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-datalake-store==0.0.52
azure-eventgrid==1.3.0
azure-functions==1.11.2
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.1
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.6.2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.1
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.7.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.2.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==1.5.0
azure-storage-common==1.4.2
azure-storage-file==1.4.0
azure-storage-queue==1.4.0
Babel==2.10.3
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
blinker==1.5
cachelib==0.9.0
cachetools==5.2.0
cattrs==22.2.0
certifi==2022.6.15.1
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
colorama==0.4.5
colorlog==4.8.0
commonmark==0.9.1
ConfigUpdater==3.1.1
connexion==2.14.1
console-menu==0.6.0
constantly==15.1.0
contourpy==1.0.5
cookiecutter==1.7.3
cron-descriptor==1.2.31
croniter==1.3.7
cryptography==38.0.3
cssselect==1.2.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
Deprecated==1.2.13
dill==0.3.1.1
distlib==0.3.3
dnspython==2.2.1
docutils==0.19
email-validator==1.3.0
entrypoints==0.3
exceptiongroup==1.0.0rc9
fastapi==0.82.0
filelock==3.4.0
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fonttools==4.37.3
google-auth==2.14.1
graphene==3.2.1
graphql-core==3.2.3
graphql-relay==3.1.0
graphviz==0.20.1
greenlet==1.1.3
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.0
hyperlink==21.0.0
idna==3.3
incremental==22.10.0
inflection==0.5.1
ipykernel==6.5.0
ipython==7.29.0
isodate==0.6.1
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
jaraco.classes==3.2.2
jedi==0.18.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jplephem==2.17
jsonify==0.5
jsonschema==4.16.0
jupyter-client==7.0.6
jupyter-core==4.9.1
keyring==23.9.3
kiwisolver==1.4.4
kubernetes==23.6.0
lazy-object-proxy==1.7.1
linkify-it-py==2.0.0
llvmlite==0.39.1
lockfile==0.12.2
lxml==4.9.1
Mako==1.2.3
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.6.0
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.1
mdurl==0.1.2
more-itertools==8.14.0
msrest==0.7.1
msrestazure==0.6.4
nest-asyncio==1.5.1
numba==0.56.2
numpy==1.23.3
oauthlib==3.2.1
opencv-python==4.5.5.64
packaging==21.3
pandas==1.5.0
parsel==1.7.0
parso==0.8.2
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipdeptree==2.3.3
platformdirs==2.4.0
plotly==5.10.0
pluggy==1.0.0
poliastro==0.17.0
poyo==0.5.0
praw==7.4.0
prawcore==2.3.0
prison==0.2.1
prompt-toolkit==3.0.21
Protego==0.2.1
psutil==5.9.3
psycopg2==2.9.5
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.2
PyDispatcher==2.0.6
pyerfa==2.0.0.1
Pygments==2.13.0
PyJWT==2.6.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-daemon==2.3.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-nvd3==0.15.0
python-slugify==6.1.2
pytz==2022.2.1
pytzdata==2020.1
pyvo==1.3
PyYAML==6.0
pyzmq==22.3.0
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.0
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
scipy==1.9.1
Scrapy==2.7.1
service-identity==21.1.0
setproctitle==1.3.2
sgp4==2.21
six==1.16.0
skyfield==1.45
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
starlette==0.19.1
swagger-ui-bundle==0.0.9
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.0.1
text-unidecode==1.3
tldextract==3.4.0
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
Twisted==22.10.0
typing_extensions==4.3.0
uc-micro-py==1.0.1
unicodecsv==0.14.1
update-checker==0.18.0
urllib3==1.26.12
uvicorn==0.18.3
virtualenv==20.10.0
w3lib==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
zope.interface==5.5.1
